body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black !important;
  color: white !important;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  text-align: center;
}

.ant-statistic-content,
.ant-statistic-title {
  color: white !important;
  font-size: 1.5rem !important;
}
